spring:
  datasource:
    url: jdbc:h2:mem:embedded-database;MODE=MySQL
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: always
      schema-locations: "file:./sql/schema/h2/*.sql"