spring:
  datasource:
    url: jdbc:mysql://localhost:3306/recipes
    username: recipes
    password: recipes

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: never

  h2:
    console:
      enabled: false