server:
  port: 8080

spring:
  application:
    name: recipe-application

  datasource:
    url: jdbc:h2:mem:embedded-database
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: always
      schema-locations: "classpath:schema/*.sql"

  h2:
    console:
      enabled: true

springdoc:
  api-docs:
    enabled: true

  swagger-ui:
    URLs:
      - name: Recipes API v1
        url: /openapi/recipes-v1-api.yaml
      - name: Recipes API v2
        url: /openapi/recipes-v2-api.yaml