name: build

on:
  push:
    branches: [ 'master' ]

  pull_request:
    branches: [ 'master' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build application JAR with H2
        run: mvn -B clean package -P h2 -D"skipTests"
        env:
          SPRING_PROFILES_ACTIVE: h2

      - name: Build application JAR with MySQL
        run: mvn -B clean package -P mysql -D"skipTests"
        env:
          SPRING_PROFILES_ACTIVE: mysql

      - name: Build Docker image
        run: docker build -t askie01/recipe-application:latest .