name: publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Configure Maven settings.xml
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml << EOF
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${{ secrets.GITHUB_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF

      - name: Set project version
        run: mvn -B versions:set -DnewVersion=${{ inputs.version }}

      - name: Build JAR
        run: mvn -B clean deploy -D"skipTests"

      - name: Login to Github Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: |
          docker build \
           -t ghcr.io/${{ github.repository }}:${{ inputs.version }} \
           -t ghcr.io/${{ github.repository }}:latest \
           .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:${{ inputs.version }}
          docker push ghcr.io/${{ github.repository }}:latest